:root {
  --black: #0d0d0d;
  --green: #00ff00;
  --white: #ffffff;
  --shadow: rgba(0, 0, 0, 0.5);
  --highlight: rgba(0, 255, 0, 0.2);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e2e;
}

.signup-container {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  box-shadow: 0 4px 8px var(--shadow);
  border-radius: 12px;
  overflow: hidden;
  background-color: #1e1e2e;
}

.signup-form,
.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.signup-form {
  flex: 0 0 60%;
  background: linear-gradient(145deg, #1e1e2e 0%, #1e1e2e 100%);
  box-shadow: 0 4px 8px var(--shadow), 0 -4px 8px rgba(0, 0, 0, 0.1) inset;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  overflow-y: auto;
}

.signup-form:hover {
  box-shadow: 0 8px 16px var(--shadow), 0 -8px 16px rgba(0, 0, 0, 0.1) inset;
  transform: scale(1.02);
}

.info-section {
  flex: 0 0 40%;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(145deg, var(--black) 0%, #1e1e2e 100%);
  box-shadow: 0 4px 8px var(--shadow);
}

.info-content {
  position: absolute;
  z-index: 1;
  width: 60%;
  left: 10%;
}

.info-content .fancy-text {
  font-size: 2.5rem;
  color: var(--white);
  margin-bottom: 10px;
}

.info-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.7);
}

h2 {
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--green);
}

.info-section h2 {
  color: var(--white);
}

.info-section p {
  margin-bottom: 20px;
  font-size: 18px;
}

.info-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      45deg,
      transparent 49%,
      var(--highlight) 49%,
      var(--highlight) 51%,
      transparent 51%
    ),
    linear-gradient(
      45deg,
      transparent 49%,
      var(--highlight) 49%,
      var(--highlight) 51%,
      transparent 51%
    );
  background-size: 50px 50px, 50px 50px;
  opacity: 0.1;
  z-index: 0;
}

.social-login {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.social-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: var(--white);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.social-btn.fb {
  background-color: var(--green);
}

.social-btn.google {
  background-color: #00cc00;
}

.social-btn.linkedin {
  background-color: var(--green);
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}

input {
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
  width: 80%;
  height: 25px;
  background-color: #2a2a3b;
  color: var(--white);
  box-shadow: inset 0 2px 4px var(--shadow);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  border: none;
}

input:focus {
  background-color: #333;
  box-shadow: 0 0 8px var(--green);
  outline: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #50fa7b;
  color: var(--black);
  font-size: 16px;
  margin: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 10px 20px;
  font-size: 1.2rem;
}

.profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #e0e0e0;
  cursor: pointer;
  position: relative;
}

.profile-pic span {
  font-size: 2rem;
  color: #e0e0e0;
}

.terms-and-conditions {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-around;
  width: 90%;
  float: right;
}

.terms-and-conditions input {
  margin-right: 0.5rem;
}

.terms-and-conditions p {
  margin: 0;
  color: #888888;
}

.terms-and-conditions a {
  color: #273532;
  text-decoration: underline;
}

button:hover {
  background-color: #00cc00;
  transform: scale(1.05);
}

/* Media Queries for responsiveness */

@media (max-width: 1024px) {
  .signup-container {
    flex-direction: column;
    width: 100%;
  }

  .signup-form {
    border-right: none;
    border-bottom: 1px solid var(--white);
    flex: 1;
    width: 100%;
    padding: 20px;
  }

  .info-section {
    display: none;
  }

  form {
    width: 90%;
  }

  .profile-pic {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .signup-form {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    height: max-content;
    max-height: max-content;
  }
  
  .signup-form .form {
    width: 95%;
    text-align: center;
    height: max-content;
  } 

  .signup-form .form input {
    height: 30px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

@media (max-width: 480px) {
  .info-content .fancy-text {
    font-size: 2rem;
  }

  .info-content p {
    font-size: 1rem;
  }
}
