.dashboard-container {
  display: flex;
}

.manage-events-container {
  position: absolute;
  right: 0;
  width: 85%;
  background-color: #2a2a3b;
  overflow-x: scroll;
}

.moduleHolder {
  background-color: rgb(0, 0, 0, 0.1);
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  max-width: 1500px;
  height: max-content;
  min-height: 100vh;
  margin: 0 auto;
}

.payment-link-dropdown {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  max-width: 400px;
  float: left;
}

.centered-content {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: #888;
}

.icon {
  font-size: 48px; /* Adjust size as needed */
  margin-bottom: 10px;
}
.dashboard-main {
  display: block;
}
.chart-overview-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Optional gap between the chart and overview */
  margin-top: 20px;
}

.chart-container {
  flex-grow: 1;
  background-color: #1e1e2e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.overview2 {
  width: 300px;
  background-color: #1e1e2e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.payment-link-details {
  margin-bottom: 20px;
}

.payment-link-details input {
  width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #444;
  background-color: #1e1e2e;
  color: #fff;
  max-width: 1200px;
}

.transactions-container {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transactions-container2 {
  display: none;
}

.transactions-table {
  width: 100%;
  border-collapse: collapse;
}

.transactions-table table {
  width: 100%;
}

.transactions-table th, 
.transactions-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.transactions-table th {
  color: #90caf9;
}

.transactions-table td {
  color: #fff;
}

.transactions-table tr:hover {
  background-color: rgba(144, 202, 249, 0.1);
}


/* Responsive Styles */
@media (max-width: 1200px) {
  .manage-events-container {
    padding: 0px;
    width: 100vw;
  }

  .transactions-container2 {
    display: block;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .transactions-container {
    display: none;
  }
  
  .transactions-table2 {
    width: 100vw;
    border-collapse: collapse;
  }
  
  .transactions-table2 table {
    width: 100%;
  }
  
  .transactions-table2 th, 
  .transactions-table2 td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .transactions-table2 th {
    color: #90caf9;
  }
  
  .transactions-table2 td {
    color: #fff;
  }
  
  .transactions-table2 tr:hover {
    background-color: rgba(144, 202, 249, 0.1);
  }
}
@media (max-width: 1200px) {
  .manage-events-container {
    padding: 0px;
    width: 100vw;
  }

  .moduleHolder {
    padding: 0px;
  }

  .payment-link-dropdown {
    font-size: 16px;
    position: absolute;
    left: 20px;
    width: 60vw;
    padding: 10px;
    z-index: 800;
  }

  .chart-overview-container {
    flex-direction: column-reverse;
    gap: 0px; /* Optional gap between the chart and overview */
    width: 100vw;
  }

  .overview {
    width: 100vw;
    background-color: #1e1e2e;
    padding: 20px;
    height: max-content;
    border-radius: 0px;
    box-shadow: none;
    /* margin: 0 auto; */
  }

  .overview2 {
    width: 95vw;
    background-color: #1e1e2e;
    padding: 10px;
    height: max-content;
    border-radius: 0px;
    box-shadow: none;
    margin: 0 auto;
  }

  .transactions-container2 {
    display: block;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .transactions-container {
    display: none;
  }
  
  .transactions-table2 {
    width: 100vw;
    border-collapse: collapse;
  }
  
  .transactions-table2 table {
    width: 100%;
  }
  
  .transactions-table2 th, 
  .transactions-table2 td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .transactions-table2 th {
    color: #90caf9;
  }
  
  .transactions-table2 td {
    color: #fff;
  }
  
  .transactions-table2 tr:hover {
    background-color: rgba(144, 202, 249, 0.1);
  }
}
